# 依赖
node_modules/

# 环境变量,数据库密码,JWT密钥
.env
.env.*
!.env.example

# 运行时数据
db/messages-buffer.json

# 日志
*.log
logs/

# 系统文件
.DS_Store
Thumbs.db

# 编辑器文件
.vscode/
.idea/
*.swp
*.swo

# 用户上传的图片
public/uploads/

# 仅保留 README.md
*.md
!README.md

# 其它文件夹
历史/
